@model HomepageNewsItemsModel

@using Nop.Core.Domain.News

@if (Model.NewsItems.Count > 0)
{
    <div class="news-list-homepage">
        <div class="title">
            <strong>@T("News")</strong>
        </div>
        <div class="news-items owl-carousel" id="news-item">
            @foreach (var item in Model.NewsItems)
            {
                <div class="news-item">
                    <div class="news-head">
                        <a class="news-title" href="@(Url.RouteUrl<NewsItem>(new { SeName = item.SeName }))">@item.Title</a>
                        <span class="news-date">-@item.CreatedOn.ToString("D")</span>
                    </div>
                    <div class="news-body">
                        @Html.Raw(item.Short)
                    </div>
                    <a href="@(Url.RouteUrl<NewsItem>(new { SeName = item.SeName }))" class="read-more">Read more<i class="bi bi-chevron-right"></i></a>                    
                </div>
            }
        </div>
       @* <div class="view-all">
            <a href="@Url.RouteUrl("NewsArchive")">@T("News.ViewAll")</a>
        </div>*@
    </div>

    <script asp-location="Footer">
        $(document).ready(function(){
            $('#news-item').owlCarousel({
                loop:true,
                margin:1,
                responsiveClass:true,
                responsive:{
                    0:{
                        items:1,
                        nav:false
                    },
                    600:{
                        items:3,
                        nav:false
                    },
                    1000:{
                        items:3,
                        nav:true,
                        loop:false
                    }
                }
            })
        })
    </script>

}
