@model WishlistEmailAFriendModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.WishlistEmailAFriend").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-email-a-friend-page");
}
<div class="page email-a-friend-page">
    <div class="page-title-top">
        <div class="container">
            <div class="page-title">
                <h1>@T("Wishlist.EmailAFriend.Title")</h1>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container">
            <div class="container-max">
                @if (Model.SuccessfullySent)
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }
                else
                {
                    <form asp-route="EmailWishlist" method="post">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="fieldset">
                            <div class="form-fields">
                                <div class="inputs">
                                    <label asp-for="FriendEmail"></label>
                                    <input asp-for="FriendEmail" class="friend-email form-control" placeholder="@T("Wishlist.EmailAFriend.FriendEmail.Hint")"  />
                                    <span asp-validation-for="FriendEmail"></span>
                                </div>
                                <div class="inputs">
                                    <label asp-for="YourEmailAddress"></label>
                                    <input asp-for="YourEmailAddress" class="your-email form-control" placeholder="@T("Wishlist.EmailAFriend.YourEmailAddress.Hint")"  />
                                    <span asp-validation-for="YourEmailAddress"></span>
                                </div>
                                <div class="inputs">
                                    <label asp-for="PersonalMessage"></label>
                                    <textarea asp-for="PersonalMessage" placeholder="@T("Wishlist.EmailAFriend.PersonalMessage.Hint")" class="personal-message form-control"></textarea>
                                    <span asp-validation-for="PersonalMessage"></span>
                                </div>
                                @if (Model.DisplayCaptcha)
                                {
                                    <nop-captcha />
                                }
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="submit" name="send-email" class="button-1 send-email-a-friend-button btn btn-primary">@T("Wishlist.EmailAFriend.Button")</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
