@model SocialModel
@using Nop.Services.Configuration
@inject ISettingService settingService
@{
    var pintrest = await settingService.GetSettingAsync("storeboxv1settings.socialmedia_pintrest");
    var linkdin = await settingService.GetSettingAsync("storeboxv1settings.socialmedia_linkdin");
}
<ul class="networks">
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li class="facebook"><a href="@Model.FacebookLink" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li class="twitter"><a href="@Model.TwitterLink" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
    }
    @if (Model.NewsEnabled)
    {
        <li class="rss"><a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})"><i class="fas fa-rss"></i></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li class="youtube"><a href="@Model.YoutubeLink" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a></li>
    }
	@if (!string.IsNullOrEmpty(Model.InstagramLink))
	{
        <li class="instragram"><a href="@Model.InstagramLink" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
	}
    @if (pintrest != null)
    {
        @if (!string.IsNullOrEmpty(pintrest.Value))
        {
            <li class="pitrest"><a href="@pintrest.Value" target="_blank" rel="noopener noreferrer"><i class="fab fa-pinterest-p"></i></a></li>
        }
    }
    @if (linkdin != null)
    {
        @if (!string.IsNullOrEmpty(linkdin.Value))
        {
            <li class="linkdin"><a href="@linkdin.Value" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a></li>
        }
    }
</ul>
